body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f4f6f8;
}

.container{
    width:500px;
    margin:100px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
    text-align:center;
}

button{
    padding:10px 20px;
    background:#0078D4;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#005ea6;
}
